p {
  text-align: center;
  color: red;
} 

h1 {
  color: white;
  text-align: center;
}

 body {
  background: green;
  color: white;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
} 

li a {
  display: block;
  background-color: #dddddd;

}
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

}
div.gallery {
  margin: 200px;
  border: 1px solid #ccc;
  float: right;
  width: 300px;

}



