body {
  background-color: violet;
}

h1 {
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
}

li a {
  display: block;
  height: 6000px
  width: 200px;
  background-color: red;
}

<ul>
  <li><a href="#index">index</a></li>
  <li><a href="#boards">boards</a></li>

</ul>

}

div.gallery {
  margin: 200px;
  border: 1px solid #ccc;
  float: right;
  width: 300px;





