p {
  text-align: center;
  color: red;
} 

h1 {
  color: white;
  text-align: center;
  }

 body {
  background: green;
  color: white;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 

li a {
  display: block;
  background-color: #dddddd;

}
<ul>
  <li><a href="#boards">boards</a></li>
  <li><a href="#index">index</a></li>
  <li><a href="#main">main</a></li>
  
</ul>
}

div.gallery {
  margin: 200px;
  border: 1px solid #ccc;
  float: right;
  width: 300px;

}



